<html>

<head>
    {{>header}}
</head>


<body>
    <div class="background-image">
        <div class="overlay">
            <div class="text">
                <h1>Login</h1>
                <p>Login to have full access to the nutrition, fitness, and healthy lifestyle pages.<br>
                    Create and establish goals for each page, and access important information about each page.
                </p>
            </div>

            <div class="forum">


                <form class="form" method="POST" action="login">
                    <h1 class="form_title">Join Hyping Health</h1>
                    <p class="form_text">
                        to keep a record of your personal health goals and recieve important information
                    </p>
                    <div class="form_input-group">
                        <label for="username" class="col-sm-2 col-formlabel">
                            User Name
                        </label>
                        <div class="col-sm-10">
                            <input type="text" id="form_input" id="username" name="username" placeholder="username">
                        </div>
                    </div>
                    <div class="form_input-group">
                        <label for="password" class="col-sm-2 col-formlabel">
                            Password
                        </label>
                        <div class="col-sm-10">
                            <input type="password" id="form_input" id="password" name="password" placeholder="password">
                        </div>
                    </div>

                    <div>

                        <input  id="form_button" type="submit" value="Log In" class="btn btn-primary">
                    </div>

                    <p class="form_text">Don't have an account? <a href="/register" class="form_link">Register</a></p>


                </form>
            </div>
        </div>
    </div>
</body>

</html>