<html>

<head>
    {{>header}}
</head>

<body>
    <div class="login-background">
        <div class="login-overlay">
            <div class="login-text">
                <h1>Login</h1>
                <p>Please log in to manage stock, add new items, and access exclusive volunteer resources. Your contributions make a difference!</p>
            </div>

            <div class="login-form">
                <form class="form" method="POST" action="/login">
                    <h1 class="form-title">Charity Login</h1>
                    <p class="form-description">
                        Log in to manage inventory and contribute to our mission of supporting cancer research.
                    </p>
                    <div class="form-input-group">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-input-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-actions">
                        <input type="submit" value="Log In" class="form-button">
                    </div>
                    <p class="form-footer">Don't have an account? <a href="/register" class="form-link">Register here</a></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
