<html>

<head>
    {{>header}}
</head>

<body>
    <div class="register-background">
        <div class="register-overlay">
            <div class="register-text">
                <h1>Register</h1>
                <p>
                    Register to gain access to volunteer resources, manage stock, and contribute to our mission.<br>
                    Join us in our fight against cancer and make a meaningful difference.
                </p>
            </div>

            <div class="register-form">
                <form class="form" method="post" action="/register">
                    <h1 class="form-title">Create Your Account</h1>
                    <p class="form-description">
                        Register to contribute to our charity and help manage inventory and other important tasks.
                    </p>
                    <div class="form-input-group">
                        {{user-name-error}}
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter username" required>
                    </div>
                    <div class="form-input-group">
                        <label for="password" class="form-label">Password (8 characters minimum)</label>
                        <input type="password" id="password" name="password" placeholder="Enter password" minlength="8" required>
                    </div>
                    <div class="form-actions">
                        <input type="submit" value="Register" class="form-button">
                    </div>
                    <p class="form-footer">Already have an account? <a href="/login" class="form-link">Log in</a></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
